body {
  background-color: rgb(68, 125, 199);
  color: #fff;
  font: normal 18pt Arial, sans-serif;
}

div#caixamagica {
  width: 300px;
  height: 300px;
  background-color: green;
  color: rgb(0, 0, 0);
  font: normal 18pt Arial, sans-serif;
  text-align: center;
  line-height: 300px;
}
